<input
    class="input"
    type="{{type}}"
    name="{{name}}"
    placeholder="{{placeholder}}"
    data-validation="{{validation}}"
>
<label class="label-err" for="{{name}}">
  {{errorText}}
</label>
