<div class="chat__body-head chat__body-head--{{chatStatus}}">
  <p class="h2">{{{chat.title}}}</p>
  <div class="chat__body-btns">
    {{{usersModalBtn}}}
    {{{editUsersModalBtn}}}
    {{{deleteChatBtn}}}
  </div>
</div>
<div class="h1 chat__body-banner chat__body-banner--{{chatStatus}} color-grey">
  Select chat from list
</div>
<div id="ChatMessages" class="chat__messages chat__messages--{{chatStatus}}">
  {{#each chatMessages}}
    {{{this}}}
  {{/each}}
</div>
<div class="chat__message chat__message--{{chatStatus}}">
  {{{inputMessage}}}
</div>

<div class="modal" id="userModal">
  <div class="modal__content">
    <p class="h1 modal__title">Add user</p>
    {{{userSearchInput}}}
    <form id="UsersCheckList" class="modal__form">
    </form>
    <div id="usersList"></div>
    {{{addUsersBtn}}}
    {{{closeChatModalBtn}}}
  </div>
</div>
<div class="modal" id="usersEditModal">
  <div class="modal__content">
    <p class="h1 modal__title">Edit user</p>
    {{{userSearchInput}}}
    <form id="UsersEditCheckList" class="modal__form">
    </form>
    <div id="usersList"></div>
    {{{editUsersBtn}}}
    {{{closeChatEditModalBtn}}}
  </div>
</div>
