<div class="profile">
  <h1 class="h1 profile__title">Update profile</h1>
  <form id="UserInfo" class="profile__form" action="">
    {{{firstName }}}
    {{{secondName}}}
    {{{displayName}}}
    {{{login}}}
    {{{email}}}
    {{{phone}}}
  </form>
  <p id="FormErr" class="p1 color-red form-err"></p>
  <div class="profile__btn-wrapper">
    {{{updateInfoBtn}}}
    {{{cancelBtn}}}
  </div>
</div>
