<div class="chat-card chat-card--{{size}}" >
  <div class="chat-card__avatar-wrapper">
    <div class="chat-card__avatar chat-card__avatar--{{size}}"></div>
    <div class="chat-card__status chat-card__status--{{status}} "></div>
  </div>
  <div class="chat-card__user-info">
    <p class="chat-card__user-name p1 color-black">
      {{userName}}
    </p>
    <p class="chat-card__last-message p2 color-grey">
      {{message}}
    </p>
  </div>
  <div class="chat-card__message-info">
    <div class="chat-card__message-time p2 color-grey">
      13:00
    </div>
  </div>
</div>
