<div class="signUp">
  <h1 class="h1 signUp__title">Sign Up</h1>
  <div class="signUp__form-wrapper">
    <form id="SignUp" class="signUp__form" action="">
      {{{firstName }}}
      {{{secondName}}}
      {{{login}}}
      {{{email}}}
      {{{phone}}}
      {{{password}}}
    </form>
  </div>
  <p id="FormErr" class="p1 color-red form-err"></p>
  <div class="signUp__btns">
    {{{signUpBtn}}}
    {{{signInBtn}}}
  </div>
</div>

